language: python

python:
  - "2.6"
  - "2.7"
  - "pypy"
  - "3.3"

install:
  - pip install --upgrade pip
  - pip install pytest
  - pip install --editable .

script: make test

notifications:
  email: false
