on:
  release:
    types:
      - published
name: Release
jobs:
  build:
    permissions:
      id-token: write
      pages: write
    uses: tktech/python-standard/.github/workflows/release.yml@v1
    with:
      use_poetry: true
      use_sphinx: true
      python_version: '3.11'
      platform: 'ubuntu-latest'
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_PASSWORD }}